<p-card>
    <ng-template #title>
        <div class="flex justify-between">
            <span class="font-semibold text-2xl">Nova Regra</span>
            <p-button
                type="button"
                label="Voltar"
                icon="pi pi-arrow-left"
                routerLink="/pabx/dialplans"
                outlined
                severity="secondary"
            ></p-button>
        </div>
    </ng-template>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-fluid">
        <div class="flex flex-col gap-4">
            <div class="flex items-center justify-between">
                <div class="field">
                    <label for="name" class="block mb-2">Nome *</label>
                    <input id="name" pInputText class="p-inputtext" formControlName="name"/>
                    <small *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="p-error block mt-2">
                        <div *ngIf="name?.errors?.['required']">Nome é obrigatório.</div>
                    </small>
                </div>

                <div class="flex gap-2">
                    <span>Ativada</span>
                    <p-toggleswitch name="isActive" formControlName="isActive"/>
                </div>
            </div>

            <p-card header="Origem">
                <div class="flex gap-4">
                    <div class="field mb-4">
                        <label for="src" class="block mb-2">Tipo *</label>
                        <p-select
                            id="src"
                            [options]="srcOptions"
                            formControlName="src"
                            optionLabel="label"
                            optionValue="value"
                            placeholder="Selecione um tipo de origem"
                            (onChange)="manageSrcValue()"
                        ></p-select>
                        <small *ngIf="src?.invalid && (src?.dirty || src?.touched)" class="p-error block mt-2">
                            <div *ngIf="src?.errors?.['required']">Tipo de origem é obrigatório.</div>
                        </small>
                    </div>

                    <app-peer-select-component
                        *ngIf="src?.value == 'PEER'"
                        formControlName="srcValue"
                        [showError]="srcValue?.errors?.['required']"
                    ></app-peer-select-component>

                    <app-agent-select-component
                        *ngIf="src?.value == 'AGENT'"
                        formControlName="srcValue"
                        [showError]="srcValue?.errors?.['required']"
                    ></app-agent-select-component>

                    <app-alias-select-component
                        *ngIf="src?.value == 'ALIAS'"
                        formControlName="srcValue"
                        [showError]="srcValue?.errors?.['required']"
                    ></app-alias-select-component>

                    <app-trunk-select-component
                        *ngIf="src?.value == 'TRUNK'"
                        formControlName="srcValue"
                        [showError]="srcValue?.errors?.['required']"
                    ></app-trunk-select-component>

                    <div class="field mb-4" *ngIf="src?.value == 'EXPRESSION'">
                        <label for="srcValue" class="block mb-2">Expressão Regular *</label>
                        <input id="srcValue" pInputText class="p-inputtext" formControlName="srcValue"
                               placeholder="1[34]XX"
                        />
                        <small *ngIf="srcValue?.invalid && (srcValue?.dirty || srcValue?.touched)"
                               class="p-error block mt-2">
                            <div *ngIf="srcValue?.errors?.['required']">Expressão Regular é obrigatória.</div>
                        </small>
                    </div>
                </div>
            </p-card>

            <p-card header="Destino">
                <div class="flex flex-col gap-2">
                    <div class="flex gap-2">
                        <span>Usar Alias</span>
                        <p-toggleswitch name="dstToggle" formControlName="dstToggle"
                                        (onChange)="isDstUsingAlias($event)"
                        />
                    </div>

                    <div class="field" *ngIf="!dstToggle?.value">
                        <label for="extension" class="block mb-2">Expressão regular *</label>
                        <input id="extension" pInputText class="p-inputtext" formControlName="dst"
                               placeholder="1[34]XX"
                        />
                        <small *ngIf="dst?.invalid && (dst?.dirty || dst?.touched)" class="p-error block mt-2">
                            <div *ngIf="dst?.errors?.['required']">Expressão regular é obrigatória.</div>
                        </small>
                    </div>

                    <app-alias-select-component
                        *ngIf="dstToggle?.value"
                        formControlName="dstAlias"
                        [showError]="dstAlias?.errors?.['required']"
                    ></app-alias-select-component>
                </div>
            </p-card>

            <p-card header="Período de Funcionamento">
                <div class="flex gap-2">
                    <span>24h</span>
                    <p-toggleswitch name="isAlwaysActive" formControlName="isAlwaysActive"/>
                </div>
            </p-card>

            <p-card header="Configurar Ações">
                <div class="flex gap-4">
                    <div class="field">
                        <p-select
                            id="selectedAction"
                            [options]="actionOptions"
                            formControlName="selectedAction"
                            optionLabel="label"
                            optionValue="value"
                            placeholder="Selecione uma ação"
                        ></p-select>
                    </div>
                    <p-button outlined label="Adicionar" icon="pi pi-plus" (onClick)="addDialplanAction()"></p-button>
                </div>

                <div class="flex flex-col gap-2" formArrayName="dialplanActions">
                    <p-table [value]="dialplanActions.controls" [tableStyle]="{'min-width': '50rem'}">
                        <ng-template #header>
                            <tr>
                                <th style="width: 1rem"></th>
                                <th></th>
                                <th style="width: 1rem"></th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-action let-index="rowIndex">
                            <tr [formGroupName]="index" [pReorderableRow]="index">
                                <td>
                                    <span class="pi pi-bars" pReorderableRowHandle></span>
                                </td>
                                <td>
                                    <app-peer-action-component formControlName="arg1"></app-peer-action-component>
                                </td>
                                <td>
                                    <p-button icon="pi pi-trash" severity="danger" outlined
                                              (onClick)="removeDialplanAction(index)">
                                    </p-button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>


            </p-card>

            <div class="flex">
                <p-button type="submit" label="Salvar" [disabled]="form.invalid || pending">
                    <i *ngIf="pending" class="pi pi-spin pi-spinner"></i>
                    <i *ngIf="!pending" class="pi pi-save"></i>
                </p-button>
            </div>

            <small *ngIf="showError" class="text-red-500">
                Erro ao salvar a regra
            </small>
        </div>
    </form>
</p-card>
