<form [formGroup]="formCompany" (ngSubmit)="submit()">

    <p-fluid class="flex flex-col md:flex-row gap-8">
        <div class="md:w-1/2">
            <div class="card flex flex-col gap-4">
                <div class="font-semibold text-xl">Dados Cadastrais</div>
                <div class="flex flex-col gap-2">
                    <label for="name">Razão Social</label>
                    <input pInputText id="name" type="text" formControlName="name"/>
                    @if (name?.touched && name?.hasError('required')) {
                        <small class="error">Informe a Razão Social da empresa.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="alias_name">Nome Fantasia</label>
                    <input pInputText id="aliasName" type="text" formControlName="aliasName"/>
                    @if (aliasName?.touched && aliasName?.hasError('required')) {
                        <small class="error">Informe o Nome Fantasia da empresa.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="cnpj">CNPJ</label>
                    <input pInputText id="cnpj" type="text" formControlName="cnpj"/>
                    @if (cnpj?.invalid && cnpj?.touched) {
                        @if (cnpj?.hasError("required")) {
                            <small class="error">Você precisa informar um CNPJ</small>
                        }
                        @if (cnpj?.hasError('cnpjInvalido')) {
                            <small class="error">O CNPJ informado é inválido</small>
                        }
                    }
                </div>
                <div class="flex flex-col gap-2">Setor</div>
                <p-select formControlName="sector" [options]="sectorValues" optionLabel="sector"
                          placeholder="Selecione"/>
                @if (sector?.touched && sector?.hasError('required')) {
                    <small class="error">Selecione o Setor da empresa.</small>
                }
                <div class="flex flex-col gap-2">
                    <label for="segment">Segmento de Atuação (CNAE)</label>
                    <input pInputText id="segment" type="text" formControlName="segment"/>
                    @if (segment?.touched && segment?.hasError('required')) {
                        <small class="error">Informe o Segmento de Atuação da empresa.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">Servidor Vip</div>
                <p-select formControlName="server" [options]="vipServerValues" optionLabel="server"
                          placeholder="Selecione"/>
                @if (server?.touched && server?.hasError('required')) {
                    <small class="error">Selecione o Servidor Vip que a empresa será cadastrada.</small>
                }
                <div class="flex flex-col gap-2">
                    <div class="font-semibold text-xl">Status</div>
                    <div class="flex flex-col md:flex-row gap-4">
                        <div class="flex items-center">
                            <p-radiobutton inputId="sv1" formControlName="statusValue" name="statusValue" value="1"/>
                            <label for="option1" class="leading-none ml-2">Ativa</label>
                        </div>
                        <div class="flex items-center">
                            <p-radiobutton inputId="sv2" formControlName="statusValue" name="statusValue" value="0"/>
                            <label for="option2" class="leading-none ml-2">Inativa</label>
                        </div>
                        <div class="flex items-center">
                            <p-radiobutton inputId="sv3" formControlName="statusValue" name="statusValue" value="2"/>
                            <label for="option3" class="leading-none ml-2">Andamento</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="md:w-1/2">
            <div class="card flex flex-col gap-4">
                <div class="font-semibold text-xl">Endereço</div>
                <div class="flex flex-col gap-2">
                    <label for="zipcode">Cep</label>
                    <input pInputText id="zipcode" type="text" formControlName="zipcode"/>
                    <!-- Loading -->
                    @if (isLoading) {
                        <div class="loading-indicator">
                            Consultando CEP...
                        </div>
                    }

                    @if (zipcode?.invalid && zipcode?.touched) {
                        @if (zipcode?.hasError("required")) {
                            <small class="error">Você precisa informar um CEP</small>
                        }
                        @if (zipcode?.hasError('cepNotFound')) {
                            <small class="error">CEP não encontrado.</small>
                        }
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="address">Logradouro</label>
                    <input pInputText id="address" type="text" formControlName="address"/>
                    @if (address?.touched && address?.hasError('required')) {
                        <small class="error">Informe o endereço da empresa.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="num">Número</label>
                    <input pInputText id="number" type="text" formControlName="number"/>
                    @if (number?.touched && number?.hasError('required')) {
                        <small class="error">Informe o número do endereço da empresa.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="complement">Complemento</label>
                    <input pInputText id="complement" type="text"/>
                </div>
                <div class="flex flex-col gap-2">
                    <label for="district">Bairro</label>
                    <input pInputText id="district" type="text" formControlName="district"/>
                    @if (district?.touched && district?.hasError('required')) {
                        <small class="error">Informe o bairro do endereço da empresa.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="city">Cidade</label>
                    <input pInputText id="city" type="text" formControlName="city"/>
                    @if (district?.touched && district?.hasError('required')) {
                        <small class="error">Informe a cidade do endereço da empresa.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">Estado</div>
                <p-select inputId="state" formControlName="state" [options]="states" optionLabel="sigla"
                          optionValue="sigla" placeholder="Selecione"/>
                @if (state?.touched && state?.hasError('required')) {
                    <small class="error">Selecione o Estado da empresa.</small>
                }
            </div>
        </div>
    </p-fluid>
    <br>
    <p-fluid class="flex flex-col md:flex-row gap-8">
        <div class="md:w-1/2">
            <div class="card flex flex-col gap-4">
                <div class="font-semibold text-xl">Perfil Comercial</div>
                <div class="flex flex-col gap-2">
                    <div>Tipo de Cliente</div>
                    <div class="flex items-center">
                        <p-radiobutton inputId="tp1" name="typeProject" formControlName="typeProject"
                                       value="projeto_especial"/>
                        <label for="tp1" class="leading-none ml-2">Projeto Especial</label>
                    </div>
                    <div class="flex items-center">
                        <p-radiobutton inputId="tp2" name="typeProject" formControlName="typeProject"
                                       value="cliente_final"/>
                        <label for="tp2" class="leading-none ml-2">Cliente Final</label>
                    </div>
                    <div class="flex items-center">
                        <p-radiobutton inputId="tp3" name="typeProject" formControlName="typeProject"
                                       value="licenciado"/>
                        <label for="tp3" class="leading-none ml-2">Licenciado</label>
                    </div>
                    <div class="flex items-center">
                        <p-radiobutton inputId="tp4" name="typeProject" formControlName="typeProject" value="parceiro"/>
                        <label for="tp4" class="leading-none ml-2">Parceiro</label>
                    </div>
                    <div class="flex items-center">
                        <p-radiobutton inputId="tp5" name="typeProject" formControlName="typeProject" value="teste"/>
                        <label for="tp5" class="leading-none ml-2">Teste</label>
                    </div>
                    @if (typeProject?.touched && typeProject?.hasError('required')) {
                        <small class="error">Selecione o tipo de cliente.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <div>Porte da Empresa</div>
                    <div class="flex flex-col md:flex-row gap-4">
                        <div class="flex items-center">
                            <p-radiobutton inputId="cs1" value="p" name="companySize" formControlName="companySize"/>
                            <label for="cs1" class="leading-none ml-2">Pequena</label>
                        </div>
                        <div class="flex items-center">
                            <p-radiobutton inputId="cs2" value="m" name="companySize" formControlName="companySize"/>
                            <label for="cs2" class="leading-none ml-2">Média</label>
                        </div>
                        <div class="flex items-center">
                            <p-radiobutton inputId="cs3" value="g" name="companySize" formControlName="companySize"/>
                            <label for="cs3" class="leading-none ml-2">Grande</label>
                        </div>
                    </div>
                    @if (companySize?.touched && companySize?.hasError('required')) {
                        <small class="error">Selecione o porte da empresa.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="sourceClient">Origem do Cliente</label>
                    <input pInputText id="sourceClient" type="text" formControlName="sourceClient"/>
                    @if (sourceClient?.touched && sourceClient?.hasError('required')) {
                        <small class="error">Informe a origem do cliente.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <div>Perfil Técnico?</div>
                    <div class="flex flex-col md:flex-row gap-4">
                        <div class="flex items-center">
                            <p-radiobutton id="tp1" name="techProfile" value="1" name="techProfile"
                                           formControlName="techProfile"/>
                            <label for="tp1" class="leading-none ml-2">SIM</label>
                        </div>
                        <div class="flex items-center">
                            <p-radiobutton id="tp2" name="techProfile" value="0" name="techProfile"
                                           formControlName="techProfile"/>
                            <label for="tp2" class="leading-none ml-2">NÃO</label>
                        </div>
                    </div>
                    @if (techProfile?.touched && techProfile?.hasError('required')) {
                        <small class="error">Informe se o cliente possui ou não "Perfil Técnico".</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <div>Validação Financeira</div>
                    <div class="flex flex-col md:flex-row gap-4">
                        <div class="flex items-center">
                            <p-radiobutton id="fva" value="a" name="financialValidation"
                                           formControlName="financialValidation"/>
                            <label for="fva" class="leading-none ml-2">Aprovado</label>
                        </div>
                        <div class="flex items-center">
                            <p-radiobutton id="fvr" value="r" name="financialValidation"
                                           formControlName="financialValidation"/>
                            <label for="fvr" class="leading-none ml-2">Reprovado</label>
                        </div>
                    </div>
                    @if (financialValidation?.touched && financialValidation?.hasError('required')) {
                        <small class="error">Informe a Validação Financeira do cliente.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <div>Modalidade</div>
                    <div class="flex flex-col md:flex-row gap-4">
                        <div class="flex items-center">
                            <p-radiobutton inputId="mdpos" value="pos" name="modality" formControlName="modality"/>
                            <label for="mdpos" class="leading-none ml-2">Pós-Pago</label>
                        </div>
                        <div class="flex items-center">
                            <p-radiobutton inputId="mdpre" value="pre" name="modality" formControlName="modality"/>
                            <label for="mdpre" class="leading-none ml-2">Pré-Pago</label>
                        </div>
                    </div>
                    @if (modality?.touched && modality?.hasError('required')) {
                        <small class="error">Informe a modalidade da empresa.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="">Período Contratual</label>
                    <input pInputText id="contractualPeriod" type="text" formControlName="contractualPeriod"/>
                    @if (contractualPeriod?.touched && contractualPeriod?.hasError('required')) {
                        <small class="error">Informe o perído contratual.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="dateContract">Data da Assinatura do Contrato</label>
                    <input pInputText id="dateContract" type="text" formControlName="dateContract"/>
                    @if (dateContract?.touched && dateContract?.hasError('required')) {
                        <small class="error">Informe a data da assinatura do contrato.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="responsibleContract">Responsável pela Assinatura do Contrato</label>
                    <input pInputText id="responsibleContract" type="text" formControlName="responsibleContract"/>
                    @if (responsibleContract?.touched && responsibleContract?.hasError('required')) {
                        <small class="error">Informe o responsável pela assinatura do contrato.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="seller">Vendedor(a)</label>
                    <input pInputText id="seller" type="text" formControlName="seller"/>
                    @if (seller?.touched && seller?.hasError('required')) {
                        <small class="error">Informe o vendedor.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="financialMail">Email Financeiro</label>
                    <input pInputText id="financialMail" type="text" formControlName="financialMail"/>
                    @if (financialMail?.touched) {
                        @if (financialMail?.hasError('required')) {
                            <small class="error">Informe o email para questões financeiras.</small>
                        }
                        @if (financialMail?.hasError('email')) {
                            <small class="error">O email informado é inválido</small>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="md:w-1/2">
            <div class="card flex flex-col gap-4">
                <div class="font-semibold text-xl">Contato</div>
                <div class="flex flex-col gap-2">
                    <div>Preferência de Contato</div>
                    <div class="flex flex-col md:flex-row gap-4">
                        <div class="flex items-center">
                            <p-radiobutton inputId="pc1" value="phone" name="preferContact"
                                           formControlName="preferContact"/>
                            <label for="pc1" class="leading-none ml-2">Telefone</label>
                        </div>
                        <div class="flex items-center">
                            <p-radiobutton inputId="pc2" value="email" name="preferContact"
                                           formControlName="preferContact"/>
                            <label for="pc2" class="leading-none ml-2">Email</label>
                        </div>
                        <div class="flex items-center">
                            <p-radiobutton inputId="pc3" value="whatsapp" name="preferContact"
                                           formControlName="preferContact"/>
                            <label for="pc3" class="leading-none ml-2">Whatsapp</label>
                        </div>
                    </div>
                    @if (preferContact?.touched && preferContact?.hasError('required')) {
                        <small class="error">Selecione a preferência de contato.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="contactName">Nome do Contato</label>
                    <input pInputText id="contactName" type="text" formControlName="contactName"/>
                    @if (contactName?.touched && contactName?.hasError('required')) {
                        <small class="error">Informe o nome do contato.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="contactEmail">Email</label>
                    <input pInputText id="contactEmail" type="text" formControlName="contactEmail"/>
                    @if (contactEmail?.touched) {
                        @if (contactEmail?.hasError('required')) {
                            <small class="error">Informe o email do contato.</small>
                        }
                        @if (contactEmail?.hasError('email')) {
                            <small class="error">O email informado é inválido.</small>
                        }
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="contactPhone">Telefone</label>
                    <input pInputText id="contactPhone" type="text" formControlName="contactPhone"/>
                    @if (contactPhone?.touched && contactPhone?.hasError('required')) {
                        <small class="error">Informe o telefone do contato.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="contactPosition">Cargo</label>
                    <input pInputText id="contactPosition" type="text" formControlName="contactPosition"/>
                    @if (contactPosition?.touched && contactPosition?.hasError('required')) {
                        <small class="error">Informe o cargo do contato.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="contactDepartment">Departamento</label>
                    <input pInputText id="contactDepartment" type="text" formControlName="contactDepartment"/>
                    @if (contactDepartment?.touched && contactDepartment?.hasError('required')) {
                        <small class="error">Informe o departamento do contato.</small>
                    }
                </div>
                <br>
                <div class="font-semibold text-xl">Planos & Serviços</div>
                <div class="flex flex-col gap-2">
                    <div>Plano</div>
                    <div class="flex flex-col md:flex-row gap-4">
                        <div class="flex items-center">
                            <p-radiobutton inputId="pl1" value="full" name="plan" formControlName="plan"/>
                            <label for="pl1" class="leading-none ml-2">Full</label>
                        </div>
                        <div class="flex items-center">
                            <p-radiobutton inputId="pl2" value="medida" name="plan" formControlName="plan"/>
                            <label for="pl2" class="leading-none ml-2">Sob Medida</label>
                        </div>
                        <div class="flex items-center">
                            <p-radiobutton inputId="pl3" value="ilimitado" name="plan" formControlName="plan"/>
                            <label for="pl3" class="leading-none ml-2">Ilimitado</label>
                        </div>
                        <div class="flex items-center">
                            <p-radiobutton inputId="pl4" value="anual" name="plan" formControlName="plan"/>
                            <label for="pl4" class="leading-none ml-2">Anual</label>
                        </div>
                        <div class="flex items-center">
                            <p-radiobutton inputId="pl5" value="wip" name="plan" formControlName="plan"/>
                            <label for="pl5" class="leading-none ml-2">Wip</label>
                        </div>
                    </div>
                    @if (plan?.touched && plan?.hasError('required')) {
                        <small class="error">Selecione o plano.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <div>Franquia</div>
                    <div class="flex flex-col md:flex-row gap-4">
                        <div class="flex items-center">
                            <p-radiobutton inputId="ftm" value="minutes" name="franchiseType"
                                           formControlName="franchiseType"/>
                            <label for="ftm" class="leading-none ml-2">Minutos</label>
                        </div>
                        <div class="flex items-center">
                            <p-radiobutton inputId="ftc" value="consumption" name="franchiseType"
                                           formControlName="franchiseType"/>
                            <label for="ftc" class="leading-none ml-2">Ilimitado</label>
                        </div>
                    </div>
                    @if (franchiseType?.touched && franchiseType?.hasError('required')) {
                        <small class="error">Informe a franquia do cliente.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="integrationCRM">Integração com Sistemas</label>
                    <input pInputText id="integrationCRM" type="text" formControlName="integrationCRM"/>
                    @if (integrationCRM?.touched && integrationCRM?.hasError('required')) {
                        <small class="error">Informe se o cliente possui integração sistêmica.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <div>Wip Ativado?</div>
                    <div class="flex flex-col md:flex-row gap-4">
                        <div class="flex items-center">
                            <p-radiobutton inputId="wip_actived_yes" value="yes" name="wipActived"
                                           formControlName="wipActived"/>
                            <label for="wip_actived_yes" class="leading-none ml-2">SIM</label>
                        </div>
                        <div class="flex items-center">
                            <p-radiobutton inputId="wip_actived_no" value="no" name="wipActived"
                                           formControlName="wipActived"/>
                            <label for="wip_actived_no" class="leading-none ml-2">NÃO</label>
                        </div>
                    </div>
                    @if (wipActived?.touched && wipActived?.hasError('required')) {
                        <small class="error">Informe se o Wip será ativado ou não.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="wipVersion">Versão do Wip</label>
                    <input pInputText id="wipVersion" type="text" formControlName="wipVersion"/>
                    @if (wipVersion?.touched && wipVersion?.hasError('required')) {
                        <small class="error">Informe a versão do Wip.</small>
                    }
                </div>
            </div>
        </div>
    </p-fluid>
    <br>
    <p-fluid class="flex flex-col md:flex-row gap-8">
        <div class="md:w-1/2">
            <div class="card flex flex-col gap-4">
                <div class="font-semibold text-xl">Licenças & Números</div>
                <div class="flex flex-col gap-2">
                    <label for="totalPeers">Quantidade de Ramais</label>
                    <input pInputText id="totalPeers" type="text" formControlName="totalPeers"/>
                    @if (totalPeers?.touched && totalPeers?.hasError('required')) {
                        <small class="error">Informe a quantidade de ramais.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="peerPrice">Valor Unitário</label>
                    <input pInputText id="peerPrice" type="text" formControlName="peerPrice"/>
                    @if (peerPrice?.touched && peerPrice?.hasError('required')) {
                        <small class="error">Informe o valor unitário do ramal.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="totalPeersValue">Total</label>
                    <input pInputText id="totalPeersValue" type="text" formControlName="totalPeersValue"/>
                    @if (totalPeersValue?.touched && totalPeersValue?.hasError('required')) {
                        <small class="error">Informe o valor total dos ramais.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="mobilePeers">Ramais Mobile</label>
                    <input pInputText id="mobilePeers" type="text" formControlName="mobilePeers"/>
                    @if (mobilePeers?.touched && mobilePeers?.hasError('required')) {
                        <small class="error">Informe os ramais mobile.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="licenseWip">Licenças WIP</label>
                    <input pInputText id="licenseWip" type="text" formControlName="licenseWip"/>
                    @if (licenseWip?.touched && licenseWip?.hasError('required')) {
                        <small class="error">Informe as licenças Wip.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="virtualNumbers">Números Virtuais</label>
                    <input pInputText id="virtualNumbers" type="text" formControlName="virtualNumbers"/>
                    @if (virtualNumbers?.touched && virtualNumbers?.hasError('required')) {
                        <small class="error">Informe os números virtuais.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="portedNumbers">Número Portado</label>
                    <input pInputText id="portedNumbers" type="text" formControlName="portedNumbers"/>
                    @if (portedNumbers?.touched && portedNumbers?.hasError('required')) {
                        <small class="error">Informe o número portado.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="newNumber">Número Novo (DDD)</label>
                    <input pInputText id="newNumber" type="text" formControlName="newNumber"/>
                    @if (newNumber?.touched && newNumber?.hasError('required')) {
                        <small class="error">Informe o novo número contratado.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="numberValue">Valor</label>
                    <input pInputText id="numberValue" type="text" formControlName="numberValue"/>
                    @if (numberValue?.touched && numberValue?.hasError('required')) {
                        <small class="error">Informe o valor do número.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="nationalSingleNumber">Número Único Nacional (0800)</label>
                    <input pInputText id="nationalSingleNumber" type="text" formControlName="nationalSingleNumber"/>
                    @if (nationalSingleNumber?.touched && nationalSingleNumber?.hasError('required')) {
                        <small class="error">Informe o número 0800.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="simultaneousChannels">Canais Simultâneos</label>
                    <input pInputText id="simultaneousChannels" type="text" formControlName="simultaneousChannels"/>
                    @if (simultaneousChannels?.touched && simultaneousChannels?.hasError('required')) {
                        <small class="error">Informe a quantidade de canais simultâneos.</small>
                    }
                </div>
            </div>
        </div>
        <div class="md:w-1/2">
            <div class="card flex flex-col gap-4">
                <div class="font-semibold text-xl">Configuração de Ramais</div>
                <div class="flex flex-col gap-2">
                    <label for="rangePeers">Range de Ramais</label>
                    <input pInputText id="rangePeers" type="text" formControlName="rangePeers"/>
                    @if (rangePeers?.touched && rangePeers?.hasError('required')) {
                        <small class="error">Informe o range de ramais.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <div>Dispositivos</div>
                    <div class="flex flex-col md:flex-row gap-4">
                        <div class="flex items-center">
                            <p-radiobutton inputId="device_softphone" name="devicePeer" value="softphone"
                                           formControlName="devicePeer"/>
                            <label for="device_softphone" class="leading-none ml-2">SoftPhone</label>
                        </div>
                        <div class="flex items-center">
                            <p-radiobutton inputId="device_ip_telephone" name="devicePeer" value="ip_telephone"
                                           formControlName="devicePeer"/>
                            <label for="device_ip_telephone" class="leading-none ml-2">Aparelho IP</label>
                        </div>
                        <div class="flex items-center">
                            <p-radiobutton inputId="device_cell" name="devicePeer" value="cell"
                                           formControlName="devicePeer"/>
                            <label for="device_cell" class="leading-none ml-2">Celular</label>
                        </div>
                    </div>
                    @if (devicePeer?.touched && devicePeer?.hasError('required')) {
                        <small class="error">Informe o tipo de dispositivo contratado.</small>
                    }
                </div>
                <br>
                <div class="font-semibold text-xl">Rota / Binagem</div>
                <div class="flex flex-col md:flex-row gap-4">
                    <div class="flex items-center">
                        <p-checkbox inputId="itx_fix" name="biningRoute" value="itx_fix" formControlName="biningRoute"/>
                        <label for="itx_fix" class="ml-2">ITX-Fixo</label>
                    </div>
                    <div class="flex items-center">
                        <p-checkbox inputId="itx_mobile" name="biningRoute" value="itx_mobile"
                                    formControlName="biningRoute"/>
                        <label for="itx_mobile" class="ml-2">ITX-Móvel</label>
                    </div>
                </div>
                @if (biningRoute?.touched && biningRoute?.hasError('required')) {
                    <small class="error">Informe a rota/binagem.</small>
                }
                <br>
                <div class="font-semibold text-xl">Tarifas</div>
                <div class="flex flex-col gap-2">
                    <label for="brasilFix">Fixo Brasil</label>
                    <input pInputText id="brasilFix" type="text" formControlName="brasilFix"/>
                    @if (brasilFix?.touched && brasilFix?.hasError('required')) {
                        <small class="error">Informe a tarifa Fixo Brasil.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="brasilMobile">Móvel Brasil</label>
                    <input pInputText id="brasilMobile" type="text" formControlName="brasilMobile"/>
                    @if (brasilMobile?.touched && brasilMobile?.hasError('required')) {
                        <small class="error">Informe a tarifa Móvel Brasil.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="ddi">DDI</label>
                    <input pInputText id="ddi" type="text" formControlName="ddi"/>
                    @if (ddi?.touched && ddi?.hasError('required')) {
                        <small class="error">Informe a tarifa Internacional (DDI).</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="n0800">0800</label>
                    <input pInputText id="n0800" type="text" formControlName="n0800"/>
                    @if (n0800?.touched && n0800?.hasError('required')) {
                        <small class="error">Informe a tarifa 0800.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="n0300">0300</label>
                    <input pInputText id="n0300" type="text" formControlName="n0300"/>
                    @if (n0300?.touched && n0300?.hasError('required')) {
                        <small class="error">Informe a tarifa 0300.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="cadence">Cadência</label>
                    <input pInputText id="cadence" type="text" formControlName="cadence"/>
                    @if (cadence?.touched && cadence?.hasError('required')) {
                        <small class="error">Informe a cadência das tarifas.</small>
                    }
                </div>
            </div>
        </div>
    </p-fluid>
    <br>
    <p-fluid class="flex flex-col md:flex-row gap-8">
        <div class="md:w-1/2">
            <div class="card flex flex-col gap-4">
                <div class="font-semibold text-xl">Atendimento & Ura</div>
                <div class="flex flex-col gap-2">
                    <div>Tem Ura de Atendimento?</div>
                    <div class="flex flex-col md:flex-row gap-4">
                        <div class="flex items-center">
                            <p-radiobutton inputId="ura_actived_yes" name="uraActived" value="1"
                                           formControlName="uraActived"/>
                            <label for="ura_actived_yes" class="leading-none ml-2">SIM</label>
                        </div>
                        <div class="flex items-center">
                            <p-radiobutton inputId="ura_actived_no" name="uraActived" value="0"
                                           formControlName="uraActived"/>
                            <label for="ura_actived_no" class="leading-none ml-2">NAO</label>
                        </div>
                    </div>
                    @if (uraActived?.touched && uraActived?.hasError('required')) {
                        <small class="error">Informe se haverá uso de Ura de Atendimento</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <div>Tipo de Ura</div>
                    <div class="flex flex-col md:flex-row gap-4">
                        <div class="flex items-center">
                            <p-radiobutton inputId="ura_type_simple" name="uraType" value="simple"
                                           formControlName="uraType"/>
                            <label for="ura_type_simple" class="leading-none ml-2">Saudação Simples</label>
                        </div>
                        <div class="flex items-center">
                            <p-radiobutton inputId="ura_type_depto" name="uraType" value="depto"
                                           formControlName="uraType"/>
                            <label for="ura_type_depto" class="leading-none ml-2">Com opções de departamento</label>
                        </div>
                    </div>
                    @if (uraType?.touched && uraType?.hasError('required')) {
                        <small class="error">Informe o tipo de Ura que será utilizada.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <div>Áudio Fora de Horário?</div>
                    <div class="flex flex-col md:flex-row gap-4">
                        <div class="flex items-center">
                            <p-radiobutton inputId="audio_worktime_yes" name="audioWorktime" value="1"
                                           formControlName="audioWorktime"/>
                            <label for="audio_worktime_yes" class="leading-none ml-2">SIM</label>
                        </div>
                        <div class="flex items-center">
                            <p-radiobutton inputId="audio_worktime_no" name="audioWorktime" value="0"
                                           formControlName="audioWorktime"/>
                            <label for="audio_worktime_no" class="leading-none ml-2">NÃO</label>
                        </div>
                    </div>
                    @if (audioWorktime?.touched && audioWorktime?.hasError('required')) {
                        <small class="error">Informe se utilizará o áudio de Fora de Horário.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="daysHours">Dias/Horários</label>
                    <input pInputText id="daysHours" type="text" formControlName="daysHours"/>
                    @if (daysHours?.touched && daysHours?.hasError('required')) {
                        <small class="error">Informe os dias e/ou horários.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <div>Atua com Turno de 24 horas?</div>
                    <div class="flex flex-col md:flex-row gap-4">
                        <div class="flex items-center">
                            <p-radiobutton inputId="alltime_yes" name="alltime" value="1" formControlName="alltime"/>
                            <label for="alltime_yes" class="leading-none ml-2">SIM</label>
                        </div>
                        <div class="flex items-center">
                            <p-radiobutton inputId="alltime_no" name="alltime" value="0" formControlName="alltime"/>
                            <label for="alltime_no" class="leading-none ml-2">NAO</label>
                        </div>
                    </div>
                    @if (alltime?.touched && alltime?.hasError('required')) {
                        <small class="error">Informe se a empresa terá Turno de 24 horas.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <div>Fará Uso de Filas?</div>
                    <div class="flex flex-col md:flex-row gap-4">
                        <div class="flex items-center">
                            <p-radiobutton inputId="queue_actived_yes" name="queueActived" value="1"
                                           formControlName="queueActived"/>
                            <label for="queue_actived_yes" class="leading-none ml-2">SIM</label>
                        </div>
                        <div class="flex items-center">
                            <p-radiobutton inputId="queue_actived_no" name="queueActived" value="0"
                                           formControlName="queueActived"/>
                            <label for="queue_actived_no" class="leading-none ml-2">NAO</label>
                        </div>
                    </div>
                    @if (devicePeer?.touched && devicePeer?.hasError('required')) {
                        <small class="error">Informe se a empresa fará uso de Filas de Atendimento.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <div>Direcionamento de Ligações</div>
                    <div class="flex items-center">
                        <p-radiobutton inputId="tc_ura" name="targetCalls" value="ura" formControlName="targetCalls"/>
                        <label for="tc_ura" class="leading-none ml-2">Ura</label>
                    </div>
                    <div class="flex items-center">
                        <p-radiobutton inputId="tc_queue" name="targetCalls" value="queue"
                                       formControlName="targetCalls"/>
                        <label for="tc_queue" class="leading-none ml-2">Fila de Atendimento</label>
                    </div>
                    <div class="flex items-center">
                        <p-radiobutton inputId="tc_peer" name="targetCalls" value="peer" formControlName="targetCalls"/>
                        <label for="tc_peer" class="leading-none ml-2">Ramal</label>
                    </div>
                    <div class="flex items-center">
                        <p-radiobutton inputId="tc_grppeers" name="targetCalls" value="grppeers"
                                       formControlName="targetCalls"/>
                        <label for="tc_grppeers" class="leading-none ml-2">Grupo de Ramais</label>
                    </div>
                    <div class="flex items-center">
                        <p-radiobutton inputId="tc_peers_seq" name="targetCalls" value="peers_seq"
                                       formControlName="targetCalls"/>
                        <label for="tc_peers_seq" class="leading-none ml-2">Sequência de Ramais</label>
                    </div>
                    @if (targetCalls?.touched && targetCalls?.hasError('required')) {
                        <small class="error">Informe o direcionamento das chamadas atendidas.</small>
                    }
                </div>
            </div>
        </div>
        <div class="md:w-1/2">
            <div class="card flex flex-col gap-4">
                <div class="font-semibold text-xl">Whatsapp Business</div>
                <div class="flex flex-col gap-2">
                    <div>Possui Aparelho para Ativação?</div>
                    <div class="flex flex-col md:flex-row gap-4">
                        <div class="flex items-center">
                            <p-radiobutton inputId="wt_yes" name="whatsappTelephone" value="yes"
                                           formControlName="whatsappTelephone"/>
                            <label for="wt_yes" class="leading-none ml-2">SIM</label>
                        </div>
                        <div class="flex items-center">
                            <p-radiobutton inputId="wt_providence" name="whatsappTelephone" value="providence"
                                           formControlName="whatsappTelephone"/>
                            <label for="wt_providence" class="leading-none ml-2">Será Providenciado</label>
                        </div>
                        <div class="flex items-center">
                            <p-radiobutton inputId="wt_no" name="whatsappTelephone" value="no"
                                           formControlName="whatsappTelephone"/>
                            <label for="wt_no" class="leading-none ml-2">Não se aplica</label>
                        </div>
                    </div>
                    @if (whatsappTelephone?.touched && whatsappTelephone?.hasError('required')) {
                        <small class="error">Informe se a empresa possui aparelho para ativação.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <div>Tipo de Número</div>
                    <div class="flex flex-col md:flex-row gap-4">
                        <div class="flex items-center">
                            <p-radiobutton input="wnt_fix" name="whatsappNumberType" value="fix"
                                           formControlName="whatsappNumberType"/>
                            <label for="wnt_fix" class="leading-none ml-2">Fixo</label>
                        </div>
                        <div class="flex items-center">
                            <p-radiobutton input="wnt_mobile" name="whatsappNumberType" value="mobile"
                                           formControlName="whatsappNumberType"/>
                            <label for="wnt_mobile" class="leading-none ml-2">Móvel</label>
                        </div>
                        <div class="flex items-center">
                            <p-radiobutton inputId="wt_no" name="whatsappNumberType" value="no"
                                           formControlName="whatsappNumberType"/>
                            <label for="wt_no" class="leading-none ml-2">Não se aplica</label>
                        </div>
                    </div>
                    @if (whatsappNumberType?.touched && whatsappNumberType?.hasError('required')) {
                        <small class="error">Informe o tipo de número do telefone a ser utilizado.</small>
                    }
                </div>
                <br>
                <div class="font-semibold text-xl">Equipamentos & Entrega</div>
                <div class="flex flex-col md:flex-row gap-4">
                    <div class="flex flex-col gap-2">
                        <div>Fornecimento de Equipamento?</div>
                        <div class="flex flex-col md:flex-row gap-4">
                            <div class="flex items-center">
                                <p-radiobutton inputId="pe_yes" name="providedEquipment" value="1"
                                               formControlName="providedEquipment"/>
                                <label for="pe_yes" class="leading-none ml-2">SIM</label>
                            </div>
                            <div class="flex items-center">
                                <p-radiobutton inputId="pe_no" name="providedEquipment" value="0"
                                               formControlName="providedEquipment"/>
                                <label for="pe_no" class="leading-none ml-2">NÃO</label>
                            </div>
                        </div>
                    </div>
                </div>
                @if (providedEquipment?.touched && providedEquipment?.hasError('required')) {
                    <small class="error">Informe se haverá contratação de equipamentos.</small>
                }
                <div class="flex flex-col gap-2">
                    <label for="totalEquipment">Quantidade</label>
                    <input pInputText id="totalEquipment" type="text" formControlName="totalEquipment"/>
                    @if (totalEquipment?.touched && totalEquipment?.hasError('required')) {
                        <small class="error">Informe a quantidade de equipamentos contratados.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="equipmentValue">Valor</label>
                    <input pInputText id="equipmentValue" type="text" formControlName="equipmentValue"/>
                    @if (equipmentValue?.touched && equipmentValue?.hasError('required')) {
                        <small class="error">Informe o valor dos equipamentos contratados.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="deliveryAddress">Endereço da Entrega</label>
                    <input pInputText id="deliveryAddress" type="text" formControlName="deliveryAddress"/>
                    @if (deliveryAddress?.touched && deliveryAddress?.hasError('required')) {
                        <small class="error">Informe o endereço da entrega dos equipamentos.</small>
                    }
                </div>
            </div>
        </div>
    </p-fluid>
    <br>
    <p-fluid class="flex flex-col md:flex-row gap-8">
        <div class="md:w-1/2">
            <div class="card flex flex-col gap-4">
                <div class="font-semibold text-xl">Setup & Financeiro</div>
                <div class="flex flex-col gap-2">
                    <div>Setup?</div>
                    <div class="flex flex-col md:flex-row gap-4">
                        <div class="flex items-center">
                            <p-radiobutton inputId="setup_yes" name="setup" value="1" formControlName="setup"/>
                            <label for="setup_yes" class="leading-none ml-2">SIM</label>
                        </div>
                        <div class="flex items-center">
                            <p-radiobutton inputId="setup_no" name="setup" value="0" formControlName="setup"/>
                            <label for="setup_no" class="leading-none ml-2">NAO</label>
                        </div>
                    </div>
                    @if (setup?.touched && setup?.hasError('required')) {
                        <small class="error">Informe se haverá cobrança de Setup.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="setupPrice">Valor do Setup</label>
                    <input pInputText id="setupPrice" type="text" formControlName="setupPrice"/>
                    @if (setupPrice?.touched && setupPrice?.hasError('required')) {
                        <small class="error">Informe o valor do Setup.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <div>Forma de Pagamento</div>
                    <div class="flex flex-col md:flex-row gap-4">
                        <div class="flex items-center">
                            <p-radiobutton inputId="ptc" name="paymentType" value="cash" formControlName="paymentType"/>
                            <label for="ptc" class="leading-none ml-2">À Vista</label>
                        </div>
                        <div class="flex items-center">
                            <p-radiobutton inputId="ptf" name="paymentType" value="fraction"
                                           formControlName="paymentType"/>
                            <label for="ptf" class="leading-none ml-2">Parcelado</label>
                        </div>
                    </div>
                    @if (paymentType?.touched && paymentType?.hasError('required')) {
                        <small class="error">Informe a forma de pagamento do Setup.</small>
                    }
                </div>
                <div class="flex flex-col gap-2">
                    <label for="sendTicketDate">Data para Envio do Boleto</label>
                    <input pInputText id="sendTicketDate" type="text" formControlName="sendTicketDate"/>
                    @if (sendTicketDate?.touched && sendTicketDate?.hasError('required')) {
                        <small class="error">Informe a data para envio do Boleto.</small>
                    }
                </div>
                <div>
                    <label for="totalContracted" class="font-semibold">Valor Total do Contrato</label>
                    <input pInputText id="totalContracted" type="text" formControlName="totalContracted"/>
                    @if (totalContracted?.touched && totalContracted?.hasError('required')) {
                        <small class="error">Informe o valor total do contrato.</small>
                    }
                </div>
            </div>
            <div class="flex items-center">
                <p-button label="Enviar" type="submit"></p-button>
            </div>
        </div>
        <div class="md:w-1/2"></div>
    </p-fluid>
</form>
